body{
    background-color: purple;
}
.box-area{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;  
}
.single-area{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    margin: 15px;
padding: 10px;
transition: .3s;

}
.img-area{
display: flex;
justify-content: center;
align-items: center;
width: 80px;
height: 80px;
border: 6px solid #ddd;
border-radius: 50%;
margin-bottom: 10px;
padding: 15px;
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
}
.single-area:nth-child(1) .img-area{
    background-image: url(../images/Lay1.png);
}
.single-area:nth-child(2) .img-area{
    background-image: url(../images/lay2.jfif);
}
.single-area:nth-child(3) .img-area{
    background-image: url(../images/lay3.jfif);
}
.header-text{
    font-size: 24px;
    font-weight:500 ;
    line-height: 48px;
}
.img-text{
   font-family: Poppins;
   padding-top: 20px;
}
.img-text p{
font-size: 15px;
font-weight: 400;
line-height: 30px;
}
.single-area:hover{
    background-color: #e84393;
    color: #000;
}

    