*{
   margin: 0;
padding: 0;
flex-wrap: wrap;
box-sizing: border-box;
}
.wrapper{
height: 100vh;
background-color: rebeccapurple;
margin: auto;
display: flex;
flex-direction: column;

}
header{
    background-color: red;
    flex-basis: 20%;
}
main{
background-color:greenyellow ;
flex-basis: 60%;
display: flex;
}
nav{
    background-color: purple;
    flex-grow: 1;

}
.upper{
    background-color: black;
   flex-grow: 1;
   display: flex;
   padding: 5px;
   
}
.upper-left{
    background-color: skyblue;
    flex-grow: 1;
    border: double;
}
.lower{
background-color: gray;
flex-grow: 1;
}
.upper-center{
    background-color: bisque;
    flex-grow: 1;
    border: double;

}
.upper-right{
    background-color: rebeccapurple;
    flex-grow: 1;
    border: double;

}
.middle{
    background-color: green;
    flex-grow: 1;
}
aside{
    background-color: brown;
    flex-grow:5 ;
    display: flex;
    flex-direction: column;
   }
footer{
    background-color: blue;
    flex-basis: 20%;
}